.country__form{
    width: fit-content;
    padding: 100px 50px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 5px;
    align-items: center;
    background-color: #fff;
}

.country__form > input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
}

button{
    width: 200px!important;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(93, 93, 233);
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
}